/build/
/data
/log/
/nohup.out
/codeworld-auth.txt
/codeworld-auth.db
/github-auth-token.txt
/web/clientId.txt
dist
dist-*
.ghc.environment.*
*.aux
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.eventlog
*.hi
*.hp
*.jsexe
*.js_o
*.js_hi
*.o
*.prof
*.swp
.stack-work
stack.yaml.lock
cabal.project.local
.DS_Store
.cache/

web/SourceCodePro
web/blockly
web/codeworld-base.txt
web/css/ambiance.css
web/css/codemirror.css
web/css/lint.css
web/css/show-hint.css
web/doc
web/doc-haskell
web/gallery-icfp17.html
web/help/ims
web/ims/arrow-down.svg
web/ims/arrow-up.svg
web/ims/car-wash.svg
web/ims/car.svg
web/ims/cursor-move.svg
web/ims/format-color-fill.svg
web/ims/format-list-bulleted.svg
web/ims/human-handsup.svg
web/ims/minus-box.svg
web/ims/move-resize-variant.svg
web/ims/pot-mix.svg
web/ims/rotate-3d.svg
web/index.html
web/js/blocks_lib.js
web/js/blocks_out.js
web/js/blocks_rts.js
web/js/blocks_runmain.js
web/js/codemirror-buttons/buttons.js
web/js/codemirror-compressed.js
web/js/details-element-polyfill.js
web/js/diff.min.js
web/mirrored
